.efeito-texto{
  color: #FFFAFA;
  text-shadow: 1px 1px #000;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.titulo{
  @extend .efeito-texto;
  font-family: 'Pacifico', cursive;
}

.container-links .btn{
  @extend %half-margin;
  font-size: 1.5rem;
}

.container-links i{
  color: #FFF;
}

.subtitulo{
  @extend .efeito-texto;
  font-size: 2rem;
}

h3{
  @extend .efeito-texto;
}

.container-cards{
  @extend %padding;
}

.card{
  max-width: 310px;
  @extend [pointer];
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  @extend %half-padding;
  background: rgba(0, 0, 0, 0.5);

  & a{
    @extend .efeito-texto;
  }
}

.ligar{
  margin-left: $half-distancia;
  width: 115px;
}

@media #{$desktop}{
  footer{
    -webkit-flex-direction: row !important;
  	-ms-flex-direction: row !important;
  	flex-direction: row !important;
  }
}
